{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{% endblock %}
{% block  content %}

    <img class="img-fluid" alt="Responsive image" src="{% static 'images/index.jpg' %}" style="width:100%;height: auto">

    <div class="container">
        <div class="row>">



    {% if request.session.user_identify == 'teacher' %}
        {% for activate_a1 in  activate_a%}

            <div class="panel panel-default">
        <div class="panel-heading">
               <h4><a href={% url 'create_group' pk=activate_a1.id %}>創建群組</a></h4>
    </div>
</div>

        {% endfor %}

    {% endif %}
     </div>
         {% for group_a1 in group_a %}
        {% cycle "<div  class='row'> <div class='col-md-4'>" "<div class='col-md-4'>" "<div class='col-md-4'>"  %}
 <div class="card" style="width: auto;">
                                    <div class="card-body">
                           <div class="card-text">

             <a href={% url 'card' pk=group_a1.id %}><h4>{{ group_a1.group}}</h4></a>
</div></div>
                        </div>
                </div>
            {% cycle   " " " " "</div>" %}
   {% endfor %}   </div>
</div>



{% endblock %}